.button {
    background-color: #13AFDF;
    border-radius: 6px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 16px 24px;
    text-align: center;
    text-transform: uppercase;
    width: auto;
}

.button:hover {
    background-color: #FB7E29;
    color: #fff;
}