<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8">
                    <h2>{{titulo}}</h2>
                </div>

            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Estado</th>
                    <th>Nombre</th>
                    <th>Solicitado a</th>
                    <th>Fecha solicitud</th>
                    <th>Fecha compromiso</th>
                    <th>Fecha llegada</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>dddd</td>
                    <td>dd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><span class="material-icons">
                            save</span></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>dddd</td>
                    <td>dd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>dddd</td>
                    <td>dd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>ddd</td>
                    <td>
                        <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="col-sm-4">
            <button type="button" class="btn btn-info add-new-material"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </div>
</div>